.container {
    width: 90vw;
    height: 80vh;
    border: 2px solid blue;
    display: grid;
    grid-template-columns: 500px 600px 580px;
    grid-template-rows: 200px 200px 300px;
    grid-gap: 10px;
    padding: 10px;
    
}
     


.item {
    background-color: rgb(13, 0, 128);
    border: 1px solid black;
    border-radius: 1px;
    color: white;
    margin: 0;
    
    
    
}
.one {
    grid-column: 1/3;
}
.three {
    grid-row:2/4 ;
}

.six {
    grid-column: 2/3;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


