@im .home {
  display: grid;
  grid-template-areas: 'h h h' 'c c c' 'f f f';
  height: 100vh;
  color: red; }

#header {
  grid-area: h; }

.home-content {
  grid-column: c; }

#footer {
  grid-area: f; }

.navigation {
  background-color: #f1cd95;
  padding: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo-container {
  display: flex;
  align-items: center; }

#logo {
  width: 80px;
  margin-right: 20px; }

#search {
  background-color: #daa764;
  border: 3px solid yellow;
  border-radius: 7px;
  padding: 14px 8px; }

ul.links li:not(:last-child) {
  margin-right: 16px; }

.nav-items {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.auth {
  float: right; }

ul.nav-items li {
  display: inline; }

.btn-primary {
  background-color: yellow;
  padding: 16px 10px;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all .5s; }

.btn-primary:hover {
  background-color: #dd8b26; }

.slider {
  height: 45vh; }

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

#slider {
  position: relative; }

.slider-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  backdrop-filter: blur(6px); }

.suggestedproductstitle {
  text-align: center; }

#suggestedproducts {
  display: flex;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 8px;
  margin-right: 8px; }

@media (max-width: 900px) {
  #suggestedproducts {
    flex-direction: column-reverse; } }

.product {
  flex: 1;
  margin-right: 15px;
  /* width: calc(100%/3.1); */
  /* display: inline-block; */
  /* margin-right: -4px; */
  /* box-shadow: 0px 2px 10px black; */
  cursor: pointer;
  /* transition: box-shadow .3s; */
  box-shadow: 5px 5px 5px #e2d0b2; }

.product:last-child {
  margin-right: 0; }

.product:hover {
  box-shadow: 5px 5px 5px #ceaa6b; }

.product img {
  width: 100%;
  height: 300px;
  object-fit: cover; }

.product-desc {
  padding: 20px; }

.product-quantity {
  outline: none;
  padding: 6px 12px;
  border: 1px solid gainsboro;
  margin-right: 10px; }

.product-quantity:focus {
  border: 2px solid #cebbbb; }

.product-inputs-container {
  display: flex;
  align-items: center; }

#footer {
  background-color: #f1cd95;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
