.about-us-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text-container {
    border: 5px solid rgb(255, 115, 0);
    font-size: 30px;
    border-radius: 20px;
    
}
#footer {
    margin-top: 130px;
}