.header {
    width: 100vw;
    height: 30vh;
    background-color: yellow;
    position: relative;
    animation: header 3s backwards;
}

.title {
    position: relative;
    
   }
   h1 {
       position: absolute;
       top: 50%;
       left: 40%;
       background-color: yellowgreen;
       animation: h1 3s 2s backwards;
   }
   .container {
       position: relative;
   }
   
   .btn {
       position: absolute;
       top: 50%;
       left: 50%;
       padding: 20px 50px;
       transform: translate(-130%,174%);
        border-block-color: red;
        animation: moveInFadeIn 2s linear 4s backwards
        
       
       
   }

@keyframes header {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;

    }
}

@keyframes h1 {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes moveInFadeIn {
    0% {
        top: 180%;
        opacity: 0;
    }

    100% {
        top: 174%;
        opacity: 1;
    }
}