body {
    margin:0;
}

.sky {
    width: 100vw;
    height: 40vh;
    background-color: deepskyblue;
    position: relative;
    
}
.sky img:nth-child(1) {
    animation-name: sunRotate;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;


}
.sky img :nth-child(2) {
    position: absolute;
    right: 0;
    animation: cloudAnimation 10s linear infinite;
     
}


.grass {
    width: 100vw;
    height: 30vh;
    background-color: green;
}
.road {
    width: 100vw;
    height: 30vh;
    background-color: gray;
    outline: 3px solid lightgray;
    position: relative;
}
.road img:nth-child(2) {
    position: absolute;
    top: 3%;
    animation-name: drive;
    animation-duration: 12s;
    animation-fill-mode: forwards;
    animation-timing-function: 1s;
    animation-iteration-count: infinite;

}
.road img:nth-child(3) {
    position: absolute;
    top: 60%;
    animation-name: drive;
    animation-duration: 3s;
    animation-fill-mode: backwards;

}
.road-lines {
    width: 100%;
    border-top: 5px dashed white;
    position: absolute;
    top: 50%;
}
@keyframes drive {
    0% {transform: translateX(-200px);}
    100% {transform: translateX(11500px);}

}

@keyframes sunRotate {
    0% { transform: rotateZ(0);}
    100% {transform: rotateZ(360deg);}
}
@keyframes CloudAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1000px);
    }
}